<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/about.css" />
</head>
<body>
  <h1>Tentang Saya</h1>
  <canvas id="fireworks-canvas"></canvas>
  <p>Ini halaman tentang saya dengan animasi kembang api di background hitam dan sedang dalam pengembangan.</p>

  <script src="/js/fireworks.js"></script>
</body>
</html>
