<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/gallery-album.css">
</head>
<body>
  <h1><%= title %></h1>
  <p style="text-align:center;">Ini adalah album foto.</p>

 <div class="gallery">
  <img src="img/album1.jpg" alt="Album 1">
  <img src="img/album2.jpg" alt="Album 2">
  <img src="img/album3.jpg" alt="Album 3">
  <img src="img/album3.jpg" alt="Album 4">
  <img src="img/album3.jpg" alt="Album 5">
  <img src="img/album3.jpg" alt="Album 6">
  <img src="img/album3.jpg" alt="Album 7">
  <img src="img/album3.jpg" alt="Album 8">
  <img src="img/album3.jpg" alt="Album 9">
</div>
</body>
</html>
