<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Mini Game Dunia Kripikku</h1>
  <canvas id="gameCanvas" width="800" height="450" style="background:#000;"></canvas>

  <script src="/js/game.js"></script>
</body>
</html>
